{% extends "base.html.twig" %}
{% block title "Page d'accueil" %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block body %}
	<header id="accueil" class="header">
		<div class="menu">
			<a href=""><img src="/image/Ysw - Copie.png" alt="Logo Portfolio"></a>
			<i class="animate__animated animate__bounce animate__fast		 animate__repeat-3 fas fa-align-right open"></i>
		</div>
		<div class="container">
			<nav class="nav display">
				<i class="fas fa-times close"></i>
				<div class="nav__links">
					<a href="#accueil">accueil</a>
					<a href="#projet">mes projets</a>
					<a href="#mieu">mieu me connaitre</a>
					<a href="#contact">me contacter</a>
				</div>
			</nav>
			<div class="header__text reveal">
				<h1 class="reveal-1">Youssef Salim</h1>

			</div>
			<div class="header__btn reveal-3">
				<a href="#projet">Portfolio</a>
				<a href="#mieu">Mieu me connaitre</a>
			</div>
		</div>
	</header>
	<main>
		<section id="projet" class="portfolio">
			<div class="portfolio__container">
				{% for project in projects %}
					<article class="reveal block {% if loop.index % 2 == 0 %} block__right {% else %} block__left {% endif %}">
						<div class=" block__img reveal-1">
							<img src="{{project.image}}" alt="image_projet">
						</div>
						<div class="block__text">
							<h2 class="block__title  reveal-2">{{project.nom}}</h2>
							<p class=" reveal-3">{{project.description}}</p>
							<a class=" reveal-4" target="_blanck" href="">Voir plus</a>
						</div>
					</article>
				{% endfor %}
			</div>
		</section>
		<section id="mieu" class="main__propos">
			<pre class="code__propos reveal">
<code class="code">
<span class="code__ligne"><span class="code__braket1"></span></span>
<span class="code__ligne">  <span class="code__ligne--vide"> </span></span>
<span class="code__ligne">..<span class="code__var">Nom</span> <span class="code__value"> {{profile.nom}}</span> </span>
<span class="code__ligne">..<span class="code__var">Titre</span>  <span class="code__value"> {{profile.titre}}</span> </span>
<span class="code__ligne">..<span class="code__var">Email</span><span class="code__value"> {{profile.mail}}</span> </span>
<span class="code__ligne">..<span class="code__var">Adresse</span> <span class="code__value"> {{profile.adress}}</span> </span>
<span class="code__ligne">  <span class="code__ligne--vide"> </span></span>
<span class="code__ligne">..<span class="code__var">Mes expériences</span> <span class="code__braket1"> </span> </span>
<span class="code__ligne"> <span class="code__ligne--vide"> </span></span>
{% for experiance in profile.experiances %}
<span class="code__ligne">....<span class="code__cle">{{experiance.date}} </span> <span class="code__value">{{experiance.experiance}}</span> </span>
{% endfor %}
<span class="code__ligne"><span class="code__braket2"> </span></span>
<span class="code__ligne"> <span class="code__ligne--vide"> </span></span>
<span class="code__ligne">..<span class="code__var">Competences_technique</span>[{% for langage in profile.langages %}<span class="code__value">{{langage.langage}}</span></span>{% endfor %} ] </span>
<span class="code__ligne"> <span class="code__ligne--vide"> </span></span>
<span class="code__ligne">..<span class="code__var">SoftSkils</span> [ </span>
{% for softskill in profile.softskills %}
<span class="code__ligne">....<span class="code__value">{{softskill.softskill}}</span> </span>
{% endfor %}
<span class="code__ligne">..]<span class="code__ligne--vide"> </span></span>
<span class="code__ligne">..<span class="code__var">Education</span> <span class="code__braket1"></span></span>
<span class="code__ligne"> <span class="code__ligne--vide"> </span></span>
{% for etude in profile.etudes %}
<span class="code__ligne">....<span class="code__cle">{{etude.date}}</span> <span class="code__value">{{etude.description}}</span> </span>
{% endfor %}
<span class="code__ligne"><span class="code__braket2"> </span></span>
<span class="code__ligne"><span class="code__braket2"></span></span>
</code>
<div class="social_media reveal">
  <a href="https://www.facebook.com/salim.ysf/" target="_blanck"><i class="fab fa-facebook-square reveal-1"></i></a>
  <a href="https://github.com/ucef8233" target="_blanck"><i class="fab fa-github-square reveal-2"></i></a>
  <a href="https://www.linkedin.com/in/youssef-salim-226b73197/" target="_blanck"><i class="fab fa-linkedin reveal-3"></i></a>
  <a href="https://twitter.com/youssef93709037" target="_blanck"><i class="fab fa-twitter-square reveal-4"></i></i></a>
</div>
</pre>
		</section>

</main>
	{% endblock %}
