{% extends 'dash.html.twig' %}
{% form_theme formProfile  'bootstrap_4_layout.html.twig' %}
{% form_theme formSoft  'bootstrap_4_layout.html.twig' %}
{% form_theme formEtude  'bootstrap_4_layout.html.twig' %}
{% form_theme formExperiance  'bootstrap_4_layout.html.twig' %}
{% block title 'Modifier le profile' %}
{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Edit Profile</h4>
						{% for message in app.flashes('success profile') %}
						<div class="alert alert-success">{{message}}</div>
						{% endfor %}
						{% for message in app.flashes('success delet') %}
						<div class="alert alert-success">{{message}}</div>
						{% endfor %}
					</div>
					<div class="card-body">
						{{form_start(formProfile)}}
						<div class="row">
							<div class="col-md-4"> {{form_row(formProfile.nom)}}</div>
							<div class="col-md-4"> {{form_row(formProfile.titre)}}</div>
							<div class="col-md-4"> {{form_row(formProfile.mail)}}</div>
						</div>
						<div class="row">
							<div class="col-md-3"> {{form_row(formProfile.adress)}}</div>
							<div class="col-md-5"> {{form_row(formProfile.description)}}</div>
							<div class="col-md-2"><button type="submit" class="btn btn-primary pull-right ml-4">
									Modifier les Infos</button> </div>
						</div>
						{{form_end(formProfile)}}
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title">Experiances</h4>
									</div>
									<div class="card-body table-responsive">
										<table class="table table-hover">
											<tbody>
												{% for experiance in profile.experiances %}
												<tr>
													<th scope="row">{{ loop.index }}</th>
													<td>{{experiance.date}}</td>
													<td>{{experiance.experiance}}</td>
													<td>
														<form method="post" action="{{ path('experiance_delete', {id: experiance.id}) }}">
															<input type="hidden" name="_method" value="DELETE">
															<input type="submit" value="Delet" class="btn btn-danger">
															<input type="hidden" name="_token"
																value="{{ csrf_token('deletexperiance' ~ experiance.id) }}">
														</form>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										{{form_start(formExperiance)}}
										<div class="row">
											<div class="col-md-3"> {{form_row(formExperiance.date)}}</div>
											<div class="col-md-5"> {{form_row(formExperiance.experiance)}}</div>
											<div style="display:none;"> {{form_row(formExperiance.admin)}}</div>
											<div class="col-md-4"> <button type="submit" class="btn btn-primary pull-right ml-4">
													Add Experiance</button></div>
										</div>
										{{form_end(formExperiance)}}
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title">Etudes</h4>
									</div>
									<div class="card-body table-responsive">
										<table class="table table-hover">
											<tbody>
												{% for etude in profile.etudes %}
												<tr>
													<th scope="row">{{ loop.index }}</th>
													<td>{{etude.date}}</td>
													<td>{{etude.description}}</td>
													<td>
														<form method="post" action="{{ path('etude_delete', {id: etude.id}) }}">
															<input type="hidden" name="_method" value="DELETE">
															<input type="submit" value="Delet" class="btn btn-danger">
															<input type="hidden" name="_token" value="{{ csrf_token('deletetude' ~ etude.id) }}">
														</form>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										{{form_start(formEtude)}}
										<div class="row">
											<div class="col-md-3"> {{form_row(formEtude.date)}}</div>
											<div class="col-md-5"> {{form_row(formEtude.description)}}</div>
											<div style="display:none;"> {{form_row(formEtude.admin)}}</div>
											<div class="col-md-4"> <button type="submit" class="btn btn-primary pull-right ml-4">
													Add Etudes</button></div>
										</div>
										{{form_end(formEtude)}}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title">Softskills</h4>
									</div>
									<div class="card-body table-responsive">
										<table class="table table-hover">
											<tbody>
												{% for softskill in profile.softskills %}
												<tr>
													<th scope="row">{{ loop.index }}</th>
													<td>{{softskill.softskill}}</td>
													<td>
														<form method="post" action="{{ path('soft_delete', {id: softskill.id}) }}">
															<input type="hidden" name="_method" value="DELETE">
															<input type="submit" value="Delet" class="btn btn-danger">
															<input type="hidden" name="_token" value="{{ csrf_token('deletesoft' ~ softskill.id) }}">
														</form>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										{{form_start(formSoft)}}
										<div class="row">
											<div class="col-md-8"> {{form_row(formSoft.softskill)}}</div>
											<div class="col-md-4" style="display:none;"> {{form_row(formSoft.admin)}}</div>
											<div class="col-md-4"> <button type="submit" class="btn btn-primary pull-right ml-4">
													Add Softskill</button></div>
										</div>
										{{form_end(formSoft)}}
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<h4 class="card-title">Langage</h4>
									</div>
									<div class="card-body table-responsive">
										<table class="table table-hover">
											<tbody>
												{% for langage in profile.langages %}
												<tr>
													<th scope="row">{{ loop.index }}</th>
													<td>{{langage.langage}}</td>
													<td>
														<form method="post" action="{{ path('langage_delete', {id: langage.id}) }}">
															<input type="hidden" name="_method" value="DELETE">
															<input type="submit" value="Delet" class="btn btn-danger">
															<input type="hidden" name="_token" value="{{ csrf_token('deletelangage' ~ langage.id) }}">
														</form>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										{{form_start(formLangage)}}
										<div class="row">
											<div class="col-md-8"> {{form_row(formLangage.langage)}}</div>
											<div style="display:none;"> {{form_row(formLangage.admin)}}</div>
											<div class="col-md-4"> <button type="submit" class="btn btn-primary pull-right ml-4">
													Add Langage</button></div>
										</div>
										{{form_end(formLangage)}}
									</div>
								</div>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}